<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 按照每天生成日志文件 -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/BookSea.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>[BookSea-PRODUCT] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level- %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>logs/BookSea.%d{yyyy-MM-dd}.log</FileNamePattern>
            <!--日志文件保留天数-->
            <maxHistory>2</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <Pattern>[BookSea-PRODUCT] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level- %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    
    <!-- 禁止在debug模式下 以下这些东西打印些没啥用的日志信息 -->
    <logger name="org.apache.activemq.transport.AbstractInactivityMonitor" level="info"/>
    <logger name="org.apache.http" level="info"/>
    <logger name="org.springframework" level="info"/>
    <logger name="org.hibernate" level="info"/>
    <logger name="org.hibernate.engine.internal.TwoPhaseLoad" level="info"/>
    <logger name="org.springframework.orm.jpa.JpaTransactionManager" level="info"/>
    
    <root level="debug">
        <appender-ref ref="file"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>